html {
    overflow-x: hidden;
}

body {
    width: 1600px;
    margin: 0 auto;
    background-color: black;
}

#app {
    position: relative;
}

button {
    cursor: pointer;
    border: unset;
}

@keyframes white-button-hover {
    to {
        background-color: black;
        color: white;
    }
}

@-webkit-keyframes white-button-hover {
    to {
        background-color: black;
        color: white;
    }
}

@keyframes to-white-button-hover {
    to {
        background-color: white;
        color: black;
    }
}

@-webkit-keyframes to-white-button-hover {
    to {
        background-color: white;
        color: black;
    }
}

.to-black-button:hover {
    animation: white-button-hover 1s forwards;
    -webkit-animation: white-button-hover 1s forwards;
}

.to-white-button:hover {
    animation: to-white-button-hover 1s forwards;
    -webkit-animation: to-white-button-hover 1s forwards;
}
